/*Global Styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(./assets/desktop/image-hero-left.png),
                      url(./assets/desktop/image-hero-right.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left -1rem top 10rem, right -1rem top 14rem;
    height: 100vh;
    z-index: 1;
}

/*Number with Circle Border*/
.border-text {
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #D1D1DF;
}

/*Nav Styling*/
nav {
    margin-top: 4rem;
}

.logo {
    width: 118px;
    height: 28px;
    margin-bottom: 3rem;
}

/*Hero Styling*/
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 448px;
    height: auto;
    margin-bottom: 4rem;
}

/*Hero Content Styling*/
.hero-content h1{
    font-size: 64px;
    color: #28283D;
    font-weight: 900;
    margin-bottom: 3rem;
}

.hero-content p {
    font-size: 18px;
    color: #87879D;
    margin: -17px;
}

.hero-info-container{
    display: flex;
    gap: 1rem;
    color: white;
    margin-top: 3rem;
}

/*Download Button Styling*/
.hero-download{
    background-color: #4D96A9;
    border: none;
    border-radius: 29px;
    width: 193px;
    height: 56px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.hero-download:hover {
    background-color: #71C0D4;
}

.hero-download span {
    color: #8FE3F9;
}

/*Description Button Styling*/
.hero-description {
    background-color: #855FB1;
    border: none;
    border-radius: 29px;
    width: 161px;
    height: 56px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}


/*Main Content*/
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.main-container img {
    width: 256px;
    height: 256px;
    border-radius: 1rem;
}

.image-container {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
}

/*Main Content Styling*/
.main-content {
    padding: 1rem;
    width: 544px;
    height: 235px;
    margin-bottom: 3rem;
}

#modern {
    color: #4D96A9;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

#smarter {
    color: #28283D;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 3rem;
}

#messages {
    color: #87879D;
    font-size: 18px;
    font-weight: 500;
    margin: -1rem;
}

.vertical-line-main {
    position: relative;
    width: 1px;
    height: 80px;
    top: 0;
}

.vertical-line-bottom{
    position: relative;
    width: 1px;
    height: 80px;
    top: 27px;
}

#main-bottom-number{
    position: relative;
    top: 27px;
    z-index: 1;
    background: white;
}

/*Footer Styling*/
footer {
    position: relative;
    background-image: url(./assets/desktop/image-footer.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 312px;
    padding: 7rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(77, 150, 169, 0.85);
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;
    z-index: 1;
    color: white;
}

#experience {
    font-size: 40px;
    font-weight: 900;
}

#connected {
    font-size: 18px;
    font-weight: 500;
    max-width: 358px;
    line-height: 1.5;
    margin-bottom: 10px;
    margin-left: 6rem;
    margin-right: 12rem;
}

.download {
    background-color: #855FB1;
    border: none;
    border-radius: 29px;
    width: 193px;
    height: 56px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.download:hover {
    background-color: #B18BDD
}

.footer-container span{
    color: #D9B8FF;
}

/*Media Queries*/
@media (max-width: 768px) {
    /*Adjust background images*/
    body {
        background-position: left -1rem top 14rem, right -1rem top 14rem;
    }
    /*Moved hero section down*/
    hero {
        margin-top: 26rem;
    }

    .hero-content h1 {
        font-size: 48px;
    }

    .hero-content p {
        font-size: 16px;
    }

    footer {
        padding: 5rem;
    }

    .image-container {
        margin-top: 4rem;
    }

    .main-container img {
        width: 152px;
        height: 160px;
    }

    #modern {
        font-size: 14px;
    }

    #smarter {
        font-size: 36px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 17px;
    }

    #connected {
        font-size: 18px;
        font-weight: 500;
        max-width: none;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 375px) {
    body{
        background-position: left -2rem top 14rem, right -1rem top 14rem;
        background-size: 206px 160px;
    }
    nav {
        margin-top: 6rem;
    }
    hero {
        margin-top: 15rem;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-container {
        width: 305px;
        margin-bottom: 4rem;
    }

    .hero-info-container{
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 1rem;
        margin-bottom: 1.5rem;
    }

    .main-content {
        width: 311px;
        height: 251px;
        margin-bottom: 3rem;
        padding: 2px;
    }

    .main-container img {
        width: 147.5px;
        height: 144px;
    }

    #modern {
        font-size: 12px;
    }

    #smarter {
        font-size: 32px;
    }

    footer {
        padding: 1rem;
    }
}
