/*Global Styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    position: relative;
    background-image: url(./assets/desktop/image-hero-left.png),
                      url(./assets/desktop/image-hero-right.png);
    background-repeat: no-repeat, no-repeat;
    background-position: -3% 262%, 102% 360%;
    height: 303px;
    z-index: 1;
}

/*Number with Circle Border*/
.border-text {
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #D1D1DF;
    margin-bottom: 5rem;
}

.vertical-line-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-line {
    width: 1px;
    height: 80px;
}

/*Nav Image*/
.logo {
    width: 118px;
    height: 28px;
    margin-bottom: 3rem;
}

/*Hero Styling*/
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 448px;
    height: auto;
    margin-bottom: 4rem;
}

/*Hero Content Styling*/
.hero-content h1{
    font-size: 64px;
    color: #28283D;
    font-weight: 900;
    margin-bottom: 3rem;
}

.hero-content p {
    font-size: 18px;
    color: #87879D;
    margin: -17px;
}

.hero-info-container{
    display: flex;
    gap: 1rem;
    color: white;
    margin-top: 3rem;
}

.hero-download-text{
    background-color: #4D96A9;
    border: 1rem solid #4D96A9;
    border-radius: 29px;
    width: 193px;
    height: 56px;
}

.hero-download-text span {
    color: #8FE3F9;
}

.hero-description {
    background-color: #855FB1;
    border: 1rem solid #855FB1;
    border-radius: 29px;
    width: 193px;
    height: 56px;
}

/*Main Content*/
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.main-container img {
    width: 256px;
    height: 256px;
}

.image-container {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
}

/*Main Content Styling*/
.main-content {
    padding: 1rem;
    width: 544px;
    height: 235px;
}
#modern {
    color: #4D96A9;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

#smarter {
    color: #28283D;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 3rem;
}

#messages {
    color: #87879D;
    font-size: 18px;
    font-weight: 500;
    margin: -1rem;
}